<div class="page-navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    {% if page_obj.has_previous %}
                    <li><a href="?page=1">1</a></li>
                    <li><a href="?page={{ page_obj.previous_page_number }}"><i
                                class="fa fa-angle-left"></i></a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}"><i
                                class="fa fa-angle-right"></i></a></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">
                            &raquo;</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</div>